@model IEnumerable<ExpenseTracker.Models.ExpenseCategory>


<table class="table table-borderless table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td> </td>
                <td>
                    


                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a asp-controller="Entry" asp-action="_ExpenseEntry" asp-route-_categoryId="@item.Id" class="btn btn-success">Details</a>
                        <a asp-controller="Category" asp-action="_EntryCategory" asp-route-_catID="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-controller="Category" asp-action="RemoveCategory" asp-route-_category="@item" class="btn btn-danger">Delete</a>
                    </div>

                </td>

                
            </tr>
        }
    </tbody>
</table>

