@model IEnumerable<ExpenseTracker.Models.ExpenseEntry>


<table class="table table-borderless table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td> </td>
                <td>
                    @Html.ActionLink("Delete", "RemoveCategory", "Home", @item, HttpMethods.Post)<br />
                    <a asp-controller="Home" asp-action="_EntryCategory" asp-route-_catID="@item.Id" class="text-success">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

